.grid{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 40px;
}

.title{
    color: #371B58;
    font-weight: bolder;
    margin: 2%;
    text-align: center;
}

.inputdetails{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-content: stretch;
    margin: 2%;
}


input{
    margin: 1%;
}

.myButton {

    justify-content: center;
    display: flex;
    margin: 1%;

	box-shadow: 3px 4px 0px 0px #899599;
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color:#ededed;
	border-radius:15px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
    color: #371B58;
	/* font-family:Arial; */
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
    font-weight: bolder;
}
.myButton:hover {
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	background-color:#bab1ba;
}
.myButton:active {
	position:relative;
	top:1px;
}

  