.grid{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 40px;
}


.inputdetails{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-content: stretch;
    margin: 2%;
}


input{
    margin: 1%;
}

