
h1{
    font-family: 'Bebas Neue', cursive;
    text-align: center;
}

.movie{
    padding: 2%;
    margin-bottom: 3%; 
    text-align: justify;
    font-family: 'Bebas Neue', cursive;
}

.block{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.cardfooter{
    display: flex;
}