
body{
    padding: 5%;
    width: 100%;
    color: aliceblue;
}

h1{
    font-family: 'Bebas Neue', cursive;
}

.movie{
    text-align: center;
    display: flex;

    flex-direction: column;
    align-items: center;
    align-content: center;
    border: 5px solid black;
    background-color:#226cb6;
    padding: 3%;  
}


.griditem{
    text-align: center;
}

.rating{
    font-size: 1.2rem;
    font-weight: bolder;
    color: red;
}

.image{
    width: 250px;
    height: 380px;
    border-radius: 5%;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}



.summary{
    font-size: 1rem;
    text-align: justify;
    font-weight: bold;
    font-family: 'Kalam', cursive;
}

.block{
    padding-top: 10%;
    display: flex;
  } 

.like{
    display: flex;
}

.footerblock{
    display: flex;
}